// COLORS
$color-primary-light: #fdf2e9;
$color-primary: #e67e22;
$color-primary-dark: #cf711f;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #555;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 25em; // 400px;
