.header {
  max-width: 135rem;
  padding: 0 5rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 90%;
    align-items: end;
    padding-bottom: 1rem;

    &__buttons {
      display: flex;
      gap: 2rem;
      z-index: 9999999999;
    }
  }

  @media only screen and (max-width: $bp-small) {
    max-width: 95%;
  }

  margin: 0 auto;
  height: 10rem;
  margin-bottom: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-weight: 600;
    font-size: 2.5rem;
    cursor: pointer;
  }

  &__nav {
    &--list {
      list-style: none;
      display: flex;
      gap: 5rem;
    }

    &--link {
      text-decoration: none;
      color: var(--color-light-2);
      transition: all 0.1s;

      &:hover,
      &:focus {
        color: var(--color-secondary-1);
      }
    }

    @media only screen and (max-width: $bp-large) {
      // display: none;
      background-color: var(--color-dark-1);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      transform: translateX(-100%);
      transition: all 0.3s ease-out 0.2s;
      z-index: 500;

      &--list {
        text-align: center;

        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        @include absCenter;
      }

      &--link {
        text-decoration: none;
        color: var(--color-light-2);
        transition: all 0.1s;
        font-size: 2rem;
        padding: 1.5rem 3.5rem;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          var(--color-light-1) 50%
        );
        background-repeat: no-repeat;
        background-size: 230%;
        transition: all 0.3s;
        border-radius: 0.35rem;

        @media only screen and (max-width: $bp-medium) {
          font-size: 3rem;
        }

        &:hover {
          background-position: 100%;
          color: var(--color-dark-1);
        }
      }
    }
  }

  &__clrbtn {
    background-color: var(--color-light-1);
    width: 4.5rem;
    height: 4.5rem;
    outline: none;
    border: none;
    border-radius: 100rem;
    position: relative;
    cursor: pointer;
    justify-self: end;

    @media only screen and (max-width: $bp-large) {
      width: 5rem;
      height: 5rem;
    }

    ion-icon {
      width: 2rem;
      height: 2rem;
      @include absCenter;
      color: var(--color-dark-1);
    }
  }

  &__mblnav {
    display: none;
    position: relative;
    z-index: 9999999999;

    &--label {
      background-color: var(--color-light-1);
      // background-color: yellow;
      width: 5rem;
      height: 5rem;
      outline: none;
      border: none;
      border-radius: 100rem;
      cursor: pointer;
      // position: fixed;
      // right: 10rem;
      // top: 2.75rem;
      display: block;
      position: relative;
      z-index: 9999999999;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    }

    &--bg {
      width: 5rem;
      height: 5rem;
      background-color: var(--color-dark-1);
      @include absCenter;
      border-radius: 100%;
      z-index: -111;
      transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &--input {
      display: none;
    }

    &--label-icon {
      display: block;
      height: 1.5px;
      width: 50%;
      border-radius: 1rem;
      background-color: var(--color-dark-1);
      @include absCenter;

      &::before,
      &::after {
        content: "";
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        border-radius: 1rem;
        background-color: var(--color-dark-1);
        transition: all 0.2s;
      }

      &::before {
        transform: translateY(-0.7rem);
      }

      &::after {
        transform: translateY(0.5rem);
      }
    }

    &--input:checked ~ &--label &--label-icon {
      background-color: transparent;
    }

    &--input:checked ~ &--label &--label-icon::before {
      transform: translateY(0rem) rotate(135deg);
    }

    &--input:checked ~ &--label &--label-icon::after {
      transform: translateY(0rem) rotate(-135deg);
    }

    // &--input:checked ~ &--bg {
    //   transform: scale(70);
    // }

    @media only screen and (max-width: $bp-large) {
      display: block;
      z-index: 1111;
    }
  }
}
